.judul4 {
    color:#50E0EE;
    font-size:26px;
    text-align:left;
    font-family: 'Comic Sans Ms';
}

#h2{
    color:#ff8000;
}

table, th, td{
    border: 1px solid #0023FF;
    font-family: "Arial Black";
}